@model BlogR.Core.Helpers.PagedResult<BlogR.Core.Data.Entities.Post>

@{
    ViewData["Title"] = "Search";
}

<h1 class="my-4">
    Search
    <small>Secondary Text</small>
</h1>

@foreach (var post in Model)
{
    await Html.RenderPartialAsync("_PostPreview", post);
}

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>
